- if policy(Favorite.new).create?
  .favorites
    - if favorite = current_user.favorited(post)
      = link_to [post, favorite], class: 'fa fa-star filled', method: :delete do
        %small.light
          Unfavorite
    - else
      = link_to [post, Favorite.new], class: 'fa fa-star-o unfilled', method: :post do
        %small.light
          Favorite