.panel.commenting
  = simple_form_for [post, comment], remote: true do |f|
    = f.full_error :body , class: "red"
    = f.text_area :body, rows: '6', placeholder: "Have your say..."
    = f.button :submit, class: "radius post-button tiny"
%br