<% if @comment.destroyed? %>
  $('#comment-' +<%= @comment.id %>).fadeOut(function(){
    $('#comment-' +<%= @comment.id %>).remove()
  });
<% else %>
  $('#comment-' +<%= @comment.id %>).prepend("<div class='alert-box radius'>Comment not be deleted. Try again.</div>");

<% end %>