%section
  %h1 Welcome to Codeca
  %h3
    %small Codeca is a resource for sharing interesting code.
  .clearfix
    = link_to "Sign in", new_user_session_path, class: 'entry button alert radius left'
    = link_to "Sign up", new_user_registration_path, class: 'entry button radius left'
  %hr
  %h2
    Latest Posts
  .panel
    %h4
      %a{:href => "#"} Post 1 goes here.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis magnam necessitatibus, repellendus sed magni deleniti est non, reiciendis similique, pariatur tempora labore architecto distinctio harum dolore omnis adipisci, maxime asperiores.
  .panel
    %h4
      %a{:href => "#"} Post 2 goes here.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eos eveniet alias quas cumque mollitia, beatae doloribus doloremque nulla rerum, soluta laborum eaque maiores. Sunt obcaecati id aut nulla repudiandae!
    %p Expedita quam deserunt laboriosam hic quos facere, consequatur. Eligendi officiis nam temporibus corporis obcaecati molestias eum sapiente dolor minima, nesciunt illum odit!



