
<h1>Welcome to bloccit</h1>
<h3><small>You've reached the bloccit homepage.</small></h3>
<hr>
<div class ="panel">
<h4><a href="#">Post 1 goes here.</a></h4>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis magnam necessitatibus, repellendus sed magni deleniti est non, reiciendis similique, pariatur tempora labore architecto distinctio harum dolore omnis adipisci, maxime asperiores.</p>
</div>

<div class ="panel">
<h4><a href="#">Post 2 goes here.</a></h4>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eos eveniet alias quas cumque mollitia, beatae doloribus doloremque nulla rerum, soluta laborum eaque maiores. Sunt obcaecati id aut nulla repudiandae! </p>

<p>Expedita quam deserunt laboriosam hic quos facere, consequatur. Eligendi officiis nam temporibus corporis obcaecati molestias eum sapiente dolor minima, nesciunt illum odit!</p>
</div>



