%section
  %h1 Edit Post
  .row
    .large-9.columns
      = render partial: 'form', locals: { topic: @topic, post: @post }
    .large-3.columns
      %hr
      %h4 Keep it simple...
      %p.light Try not to make drastic edits. It'll just confuse people.
      %hr
