%section
  %h1 New Post
  .row
    .large-9.columns
      = render partial: 'form', locals: { topic: @topic, post: @post }
    .large-3.columns
      %hr
      %h4 Remember...
      %p.light Be nice, respect others, and stay classical...
      %hr