%section.single-post
  .row
    .medium-2.columns
      &nbsp;
    .medium-8.columns
      %h1
        = @post.title
        -# = markdown @post.title
      %hr/
      = sanitize @post.markdown_body
      %hr/
      - if policy(@post).edit?
        = link_to "Edit", edit_topic_post_path(@topic, @post), class: 'button tiny alert'
    .medium-2.columns
      &nbsp;