// import the CSS framework
@import "foundation";

// override for the 'Home' navigation link

.top-bar {
  background-color: #474747; }

.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }

.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

.top-bar-section li:not(.has-form) a:not(.button) {
    background-color: #474747;
    font-size: 1.1rem;
    transition: all 500ms ease }

.top-bar .name {
  font-size: 1.6rem;
  font-family: 'Lobster', cursive; }

.contain-to-grid {
  background-color: #474747; }

.alert-box.success {
  margin-top: 20px;
  background-color: #59A8C5;
  border: 0;
  text-align: center;
  margin-left: 24%;
  margin-right: 24%;
}



// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background-color: #fff;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

.custom-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:#F5F5F5,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:4px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:false
  );
  color: #474747;
}


 .user-info {
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    padding-right: 13px;
    margin-top: 3px;
 }

 .user-info a{
    color: #474747;
    transition: all 360ms ease
 }

  .user-info a:hover{
    color: #fa8d7a;
 }

.devise-linkage {
  margin-top: -15px;
}

.entry {
  margin: 25px 15px 15px 0;
}

.topic-button {
  margin-top: 15px;
  margin-right: 15px;
}

.post-button {
  margin-top: 15px;
}

.light {
  color: #7B7B7B;
  font-size: .8rem;
}

.light-small {
  color: #7B7B7B;
  font-size: .7rem;
  padding: 0;
  margin: 0;
}

.white {
  color: #fff;
}

label {
  color: #737373;
  line-height: 2.5em;
}

.red {
  color: tomato;
  font-size: .7rem;
}

// CODEBLOCKS

code, samp, kbd {
  font-family: "Courier New", Courier, monospace, sans-serif;
  text-align: left;
  color: #555;
  }
pre code {
  line-height: 1.6em;
  font-size: 16px;
  background: transparent;
  border: 0px;
  margin: 0;
  padding: 0;
  }
pre {
  padding: 0.1em 0.5em 0.3em 0.8em;
  border-left: 11px solid #F5F5F5;
  margin: 1.7em 0 1.7em 0em;
  overflow: auto;
  width: 93%;
  }
/* target IE7 and IE6 */
*:first-child+html pre {
  padding-bottom: 2em;
  overflow-y: hidden;
  overflow: visible;
  overflow-x: auto;
  }
* html pre {
  padding-bottom: 2em;
  overflow: visible;
  overflow-x: auto;
  }

.line-numbers {
  padding-right: 12px;
}


// AVATAR

.user-info img {
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 2px;
}

.post-avatar img {
  border-radius: 50%;
  margin-left: 5px;
  margin-bottom: 11px;
}

.topic-avatar img {
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 3px;
}

// File Upload Button
.input-file{
  display:none;
}
.input-btn{
  background-color: #FFF;
  font-size: .7rem;
  font-family: 'Open Sans', sans-serif;
  color: gray;
  padding:5px;
  border-radius:3px;
  margin:0px;
}
.input-btn:hover{
  background-color: tomato;
}

.box img {
  border-radius: 3px;
}

.post-shows img {
  border-radius: 3px;
  margin-left: 5px;
}














