// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single-post h1 {
  font-size: 24px;
}

.single-post p {
  color: #606060;
}

label {
  color: #737373;
  line-height: 2.5em;
}