// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single-post h1 {
  font-size: 24px;
  color: #606060;
  padding-top: 0;
  display: inline-block;
}

.single-post p {
  color: #606060;
}



p.user-comment {
  font-size: .8rem;
  color: #8F7777;
  font-family: 'Roboto Slab', serif;
  margin-top: 5px;
}

h4 {
  font-size: 1.3rem;
  margin: 0;
}





