// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  height: auto;
}

h1 {
  color: tomato;
}

h3 {
  margin: -15px 0 0 5px;
}

h4 {
  font-size: 22px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #484848;
  padding: 20px;
  border-top: 4px solid #414141;
}

footer p {
  color: #e9e9e9;
  margin: 0 0 0 20px;
  font-size: 14px;
}

