// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  height: auto;
}

h1 {
  color: tomato;
  font-family: 'Roboto Slab', serif;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: grey;
}

h3 {
  font-family: 'Roboto Slab', serif;
  margin: -15px 0 0 5px;
}



p {
  font-family: 'Open Sans', sans-serif;
}



