%div.vote-arrows
  %div.icon-a
    = link_to " ", '#', class: 'fa fa-chevron-up'
  %div.count-a
    %strong.light.mid
      = post.points
  %div.icon-a
    = link_to " ", "#", class: 'fa fa-chevron-down'