.contain-to-grid.sticky
  %nav.top-bar{"data-topbar" => ""}
    %ul.title-area
      %li.name= link_to 'Codeca', root_path
      %li.toggle-topbar.menu-icon
        %a{:href => "#"} Menu
    .top-bar-section.right
      %ul= render 'layouts/navigation_links'
